# CORE
APP_NAME=MyApp
SERVER_NAME=interaction-server
ENV=development
PORT=3001
BASE_PATH=/api/v1
HOST=localhost:3001
ORIGIN=localhost:3001
CLIENT_URL=http://localhost:5000
SESSION_SECRET=

# LIMIT
MAX_CODE_GENERATE_ATTEMPTS=50

# AUTH
ACCESS_TOKEN_SECRET=12345
REFRESH_TOKEN_SECRET=12345

# DATABASE
MONGO_URI=mongodb://localhost:27017/myapp
MONGO_DEFAULT_DB=MyApp  # Optional, default is APP_NAME value
REDIS_URI=redis://localhost:6379

# LOG
LOG_FOLDER=logs
ERROR_LOG_FILE=error.log
REQUEST_LOG_FILE=request.log

# IMGBB
IMGBB_API_KEY=
IMGBB_API_URL=https://api.imgbb.com/1/upload
